.box{
    width:90%;
    height: 90vh;
    border-radius: 1px solid white;
    background-color:rgb(20, 29, 39);
    border-radius: 14px;
    display: flex;
    z-index: 11;
   
}
.lightrain{
    background-image: url(/src/images/ligh-rain.jpg);
}
.overcastclouds{
    background-image: url(/src/images/cloudy-image.jpg);
}
.brokenclouds{
    background-image: url(/src/images/broken-clouds.jpg);
}
.clearsky{
    background-image: url(/src/images/clear-sky.jpg);
}
.heavyintensityrain{
    background-image: url(/src/images/ligh-rain.jpg);
}
.moderaterain{
    background-image: url(/src/images/ligh-rain.jpg);
}
.fewclouds{
    background-image: url(/src/images/few-clouds.jpg);
}
.scatteredclouds{
    background-image: url(/src/images/broken-clouds.jpg);
}
.mist{
    background-image: url(/src/images/mist.jpg);
}
.smoke{
    background-image: url(/src/images/mist.jpg);
}
.search {
    
    width: 30%;
    height: 100%;
  
    opacity: 0.6;
    border-radius: 14px;
    border-right: 1px solid white;
    display: grid;
    justify-content: center;
}
.search input{
    margin-top: 80px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    width:70%;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}
.search button{
    
    padding: 12px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 22px;

}
.info{
   
    font-size: larger;
    height: 350px;
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100px;
    height: 100px
}
.container{
    width: 100%;
    display: grid;
    
}
.time{
    margin: 20px;
    width: 300px;
}
.description{
  
    text-align: start;
    color: white;
   font-size: 62px;
   width: 60%;
   height:50px;
   margin-left: 125px;
    
}