.App{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: none;
    border: 12px solid gray;
    border-radius: 15px;
    width: 95%;
    height: 92vh;
    top: 30px;
}